In [1]:
#Import the dependencies.

import pandas as pd

import gmaps

import requests

#Import the API hey.

from config import g_key

In [2]:
#Store the CSV you saved created in part one into a DataFrame.

city_data_df = pd.read_csv("weather_data/cities.csv")

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Merauke,ID,2022-06-11 00:17:21,-8.4667,140.3333,80.24,81,77,12.88
1,1,Yulara,AU,2022-06-11 00:17:22,-25.2406,130.9889,49.35,52,100,12.19
2,2,Batagay,RU,2022-06-11 00:17:22,67.6333,134.6333,61.59,29,0,7.45
3,3,Hermanus,ZA,2022-06-11 00:17:23,-34.4187,19.2345,59.81,40,77,10.02
4,4,Itarema,BR,2022-06-11 00:17:23,-2.9248,-39.9167,75.94,89,23,9.82

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [5]:
#Heatmap of temperature

locations= city_data_df[["Lat", "Lng"]]

# Get the maximum temperature

max_temp=city_data_df["Max Temp"]

# Assign the figure variable to the gmaps.figure() attribute.

fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

# Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#Heatmap of percent humidity

locations=city_data_df[["Lat","Lng"]]

humidity=city_data_df["Humidity"]

fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

heat_layer=gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#Heatmap of percent cloudiness

locations=city_data_df[["Lat","Lng"]]

clouds=city_data_df["Cloudiness"]

fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

heat_layer=gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#Heatmap of percent Wind Speed

locations=city_data_df[["Lat","Lng"]]

wind=city_data_df["Wind Speed"]

fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

heat_layer=gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Ask the customer to add a minimum and mamximum temperature value.

min_temp=float(input("What is the minimum temperature you would like for your trip?"))

max_temp=float(input("what is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
what is the maximum temperature you would like for your trip?90

In [13]:
#filter the dataset to find the cities that fit the criteria.

preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp) & (city_data_df["Max Temp"]>=min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Merauke,ID,2022-06-11 00:17:21,-8.4667,140.3333,80.24,81,77,12.88
4,4,Itarema,BR,2022-06-11 00:17:23,-2.9248,-39.9167,75.94,89,23,9.82
5,5,Baghdad,IQ,2022-06-11 00:17:24,33.3406,44.4009,76.91,29,0,2.30
12,12,Takoradi,GH,2022-06-11 00:17:29,4.8845,-1.7554,77.40,87,100,10.58
18,18,Rikitea,PF,2022-06-11 00:17:32,-23.1203,-134.9692,76.05,60,69,13.49
30,30,Anloga,GH,2022-06-11 00:16:22,5.7947,0.8973,79.23,79,99,12.97
32,32,Lorengau,PG,2022-06-11 00:17:40,-2.0226,147.2712,84.51,64,40,8.14
38,38,Sinnamary,GF,2022-06-11 00:17:45,5.3833,-52.9500,76.46,92,100,12.33
42,42,Harunabad,PK,2022-06-11 00:17:48,29.6133,73.1389,89.24,38,13,13.35
48,48,Bathsheba,BB,2022-06-11 00:18:51,13.2167,-59.5167,79.41,83,40,20.71

In [14]:
preferred_cities_df.count()

City_ID       167
City          167
Country       167
Date          167
Lat           167
Lng           167
Max Temp      167
Humidity      167
Cloudiness    167
Wind Speed    167
dtype: int64

In [15]:
#Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df=preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()

hotel_df["Hotel Name"]=""

hotel_df.head()

        City Country  Max Temp      Lat       Lng Hotel Name
0    Merauke      ID     80.24  -8.4667  140.3333
4    Itarema      BR     75.94  -2.9248  -39.9167
5    Baghdad      IQ     76.91  33.3406   44.4009
12  Takoradi      GH     77.40   4.8845   -1.7554
18   Rikitea      PF     76.05 -23.1203 -134.9692

In [26]:
#Set parameters to search for a hotel.

params={"radius":5000, "type":"lodging","key":g_key}

#Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    
    #Get the latitude and longitude.
    
    lat=row["Lat"]
    
    lng=row["Lng"]
    
    #add the latitude and longitude to location key for the params dictionary.
    
    params["location"]=f"{lat},{lng}"
    
    #Use the search term:"lodging" and our latitude and longitude.
    
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #Make request and get the JSON data from the search.
    
    hotels=requests.get(base_url, params=params).json()
    
    #Grab the first hotel from the results and store the name.
    
    try:
        
        hotel_df.loc[index, "Hotel Name"]=hotels["results"][0]["name"]
    
    except (IndexError):
        
        print("Hotel not found ...skipping.")
        
hotel_df

Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.
Hotel not found ...skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Merauke,ID,80.24,-8.4667,140.3333,
4,Itarema,BR,75.94,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
5,Baghdad,IQ,76.91,33.3406,44.4009,Baghdad Hotel
12,Takoradi,GH,77.40,4.8845,-1.7554,Raybow International Hotel
18,Rikitea,PF,76.05,-23.1203,-134.9692,People ThankYou
...,...,...,...,...,...,...
521,Isla Mujeres,MX,84.25,21.2311,-86.7310,Hotel La Joya Isla Mujeres
526,Touros,BR,76.17,-5.1989,-35.4608,INN NEW HORIZON
528,San-Pedro,CI,75.16,4.7485,-6.6363,Hotel Maria
533,Forestville,US,75.22,38.8451,-76.8750,Quality Inn Near Joint Base Andrews-Washington...
535,Grand Island,US,82.69,40.9250,-98.3420,Fairfield Inn & Suites by Marriott Grand Island

In [23]:
len(hotel_df)

167

In [30]:
#Add a heatmap of temperature for the vacation spots.

locations=hotel_df[["Lat","Lng"]]

max_temp=hotel_df["Max Temp"]

fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer=gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

marker_layer=gmaps.marker_layer(locations)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template=""""

<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

</dl>

"""

hotel_info=[info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
#Add a heatmap of temperature for the vacation spots.

locations=hotel_df[["Lat","Lng"]]

max_temp=hotel_df["Max Temp"]

fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer=gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))